html {
  box-sizing: border-box;
  background-color: #E5E5E5;
}

body{
  font-family: Montserrat;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  background: url('img/background.jpg') no-repeat center top / cover;
  margin-bottom: 70px;
}

.offer{
  width: 500px;
}
header a{
  color: #fff;
}
.def{
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
  width: 350px;
}
h1, h2{
  font-size: 52px;
  margin: 0;
  margin-top: 0px;
}

h1{
  margin-top: 120px;
}
.menu{
  display: flex;
  list-style-type: none;
}
.tel{
  font-size: 22px;
  text-decoration: none;
  margin-left: auto;
}
.nav{
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.menu li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  margin-right: 25px;
}
.logo{
  margin-right: 250px;
}

.main-content {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }


  .product-btn {
    background-color: #4CAF50;
    color: rgb(0, 0, 0) !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  
  }
  
  body {
    background-color: #1E1E1E;
    font-family: Montserrat;
    font-size: 16px;
    color: #fff;
    margin: 0;
  }
  

  .product {
    width: calc(33.33% - 20px);
    max-width: 400px;
    background-color: #3A3A3A;
    border-radius: 25px;
    padding: 20px;
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    margin: 10px;
   
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .product-descr {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .product-price {
    margin: 0;
    margin-bottom: 22px;
    color:#00FF9C;
  }
  
  .product-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00FF9C;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .product-btn:hover {
    background-color: #00E88B;
  }


.footer{
  background-color: #3A3A3A;
}

.footer-container {
  padding: 15px;
  min-height: 130px;
}

.footer-left {
  margin: 0;
  margin-right: auto;
  max-width: 165px;
}

.footer-logo {
  display: block;
  margin: 0;
  margin-bottom: 15px;
}

.footer-copyright {

}

.footer-right {
  max-height: 100px;
}

.footer-list {
}

.footer-list:not(:last-child) {
  margin: 0;
  margin-right: 45px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-link, .footer-link-extra {
  text-decoration: none;
  color: #fff;
}

.footer-link-extra {
  font-weight: bold;
}

.footer-link-extra:not(:last-child) {
  margin-right: 45px;
}

#pd5 .product-descr{
    margin-bottom: 7px;
}  

#pd6 .product-descr{
    margin-top: 25px;
    margin-bottom: 20px;
}  
#pd6 .product-title{
  margin-top: 20px;
}
#pd2 .product-price{
  margin-top: 37px; 
}
#pd3 .product-price{
  margin-top: 37px; 
}